*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
    font-family: "Open Sans",sans-serif;
}
.container{
    width: 100%;
    height: 540px;
}
.banner {
   
}
.banner img{
    position: absolute;
    width: 100%;
    height: 500px;    
}
.logo-menu{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.logo-menu ul{ 
    margin-top: 40px;
    list-style: none;
    font-size: 15px;
   
}
.logo-menu ul li {
    display: inline;
    margin-left: 40px;
} 
.logo-menu li a{  
    font-family: 'Marcellus', serif;
    text-decoration: none;
    color: #fff;
}
.logo-menu a:hover{
    color: #BE9C79;
}
.logo-menu i:hover{
    color: #EF2853;
}
.logo-menu img{
    margin-top: -25px;
    width: 200px;
    height: 200px;
    margin-left: -150px;  
}
.title-header span{
    position: relative;
    font-family: 'Marcellus', serif;
    color: #ffffff;
    justify-content: center;
    display: flex;
    font-size: 60px;
    transition: 3s;
}
.title-header span:hover{
    color: #BE9C79;
}
.container2{
    height: 2000px;
}
.section{
    display: grid;
    display: flex;
    justify-content: center;
    grid-template-columns: auto, auto;
    gap:20px;
    padding: 10px;
}
.grid-item{
  width: 550px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
}
.grid-item p{
    line-height: 1.5em;
    font-size: 15px;
    color: #656565;
}
.grid-item h1{
    font-family: 'Marcellus', serif;
    font-size: 40px;
}
.link{
    margin-top: 20px;
}
.link i{
    display: flex;
    padding: 10px;
    font-size: 8px;  
    color:#BD9F81;
}
.link a{ 
    font-size: 13px;
    color: #656565;
    text-decoration: none;
    padding-left: 15px;
}
.link a:hover{
    color: #121212;
}
.icons{
    margin-top: 30px;
}
.icons i{
    color: #B3B3B3;
    margin: 10px;
    font-size: 22px;
}
.icons i:hover{
    color:#EF2853;
}
.grid-item input{  
    padding: 15px;
    margin: 10px;
}
.grid-item input:focus{
    outline: none;
    border: 1px solid #5A1720;
}
.grid-item .id{
    border: 0.7px solid #B3B3B3;
    width: 200px;
}
.grid-item .id3{
    width: 460px;
    border: 0.7px solid #B3B3B3;
}
.grid-item .id4{
    height: 110px;
    width: 460px;
    border: 0.7px solid #B3B3B3;
}
.grid-item button{
    padding: 20px;
    margin: 10px;
    width: 170px;
    color: #fff;
    background-color: #5A1720;
    border: 1px #5A1720;
    transition: 0.7s;
}
.grid-item button:hover{
    background-color: #262626;
    border: 1px #BD9F81;
}
::placeholder{
    color: #B3B3B3;
}
.wrapper-located{
    margin-top:-3px;
    display: flex;
    justify-content: center;
}
.banner-footter{
    position: absolute;
}
.banner-footter img{
    width: 100%;
    height: 800px;
    
}
.located{  
    position: relative;   
    display: grid;
    grid-auto-columns: 500px;
}
.located img{
    width: 50%;
    margin-left: 130px;
   
}
.located p{
    text-align: center;
    color: #fff;
    font-size: 19px;
}
.located h1{
    font-family: 'Marcellus', serif;
    margin-top: 50px;
    color: #fff;
    text-align: center;
    font-weight: 300px;
}
.located span{
    font-size: 19px;
    text-align: center;
    color: #fff;
}
.located h3{
    font-family: 'Marcellus', serif;
    margin-top: 50px;
    color: #fff;
    text-align: center;
}
.gmail{
    display: flex;
    justify-content: center;
}
.gmail input{
    outline: none;
    margin-top: 15px;
    height: 60px;
    width: 230px;
    border-top-right-radius: 0;
    border: none;
    border: 1px solid #ffffff;
    background: rgba(0, 0, 0, 0.3);
    color: #fff; 
}
.gmail i{
    background-color: #fff;
    width: 50px;
    height: 22px;
    font-size: 30px;
    color: #404040;
    text-align: center;
    padding: 20px;
    margin-top: 15px;
    transition: 0.5s;
}
.gmail i:hover{
    background-color: #BE9C79;
}
.placeholder{
 text-align: center;
}
.map{
   margin-top: 100px;
}
.wp-footter{
    margin-top: 100px;
    background-color: #121212;
    height: 200px;
}
.footter-menu{
    display: flex;
    justify-content: space-around;  
}
.menu-ft{
    margin-left: -100px;
    margin-top: 100px;
}
.menu-ft ul li{
    padding: 20px;
    display: inline;
    text-decoration: none;
    font-size: 19px;
}
.menu-ft a{
    font-family: 'Marcellus', serif;
    text-decoration: none;
    color: #fff;
}
.menu-ft a:hover{
    color: #BE9C79;
}
.footter-menu span{
    font-size: 15px;
    margin-top: 100px;
    color: #fff;
}
.app{
    color: #fff;
    margin-top: 100px;
}
.app i{
    padding: 10px;
    font-size: 20px;
    color: #fff;
}
.app i:hover{
    color: #EF2853;
}

/* bars */

.wp-bars {
    position: relative;
}
.dau-x {
    color: #fff;
    display: flex;
    justify-content: end;
    padding: 30px;
    font-size: 30px;
    font-weight: 400px;
    cursor: pointer;
    transition: right 0.5s;
    right: -100%;
}
.dau-x.show {
    right: 0;
  }
  .dau-x.hide {
    right: 100%;
  }
  .dau-x.reverse-show {
    right: -100%;
  }
  .dau-x.reverse-hide {
    right: 0;
}
.dau-x:hover{
    color: #EF2853;
}
.in-bars {
    width: 400px;
    height: 660px;
}
.in-bars {
    animation: slideRightToLeft 0.5s forwards;
    margin-top: -65px;
    margin-left: 448px;
    display: none;
    position: absolute;
    background-color: #121212;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.in-bars.show {
    animation: slideLeftToRight 0.5s forwards;
   
}
@keyframes slideRightToLeft {
    0% { right: -100%; }
    100% { right: 0; }
  }
  @keyframes slideLeftToRight {
    0% { right: 0; }
    100% { right: -100%; }
  }

.in-bars a {
    color: #333;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.in-bars img{
    width: 200px;
    margin-left: 100px;
    margin-top: -72px;
}
.in-bars p{
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 5px 30px;
}
.icons-bars{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #ffffff;
    letter-spacing: 20px;
    font-size: 20px;
    margin-left: 26px;
}
.dropdown:hover .in-bars {
    display: block;
}