<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <title>The Coffe House</title>
    
</head>
<body>
    <div class="container">
     <div class="banner">
        <img src="../image/banner5.jpg" id="img" onclick="changeImage()" alt="">
     </div>
         <div class="logo-menu">       
                <img src="../image/logo.png" alt="">      
            <ul>
                <li><a href="trangchu.html">HOME</a></li>
                <li><a href="#">MENU</a></li>
                <li><a href="#">SHOP</a></li>
                <li><a href="contact.html">Liên Hệ</a></li>
                <li><a href="#">Góp Ý</a></li>     
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>  
                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>      
            </ul>
        </div>
     <div class="title-header">
        <span>PRODUCT LIST</span>
     </div>
 </div>
 <div class="container2">
    <div class="wrapper-detail">
        <div class="image-detail">
            <img src="../image/product-img-1.png" alt="">
            <div class="image-other">
                <img src="../image/product-1-img-1.jpg" alt="">
                <img src="../image/product-1-img-2.jpg" alt="">
                <img src="../image/product-1-img-3.jpg" alt="">
            </div>
        </div>
        <div class="detail">
            <span>ETHIOPIA COFFEE</span>
            <a href="">$15.00</a>
            <div class="icons-star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <p>(1 customer review)</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <div class="buy-product">
            <input type="number" value="1" >
            <button><a href="">ADD TO CART</a></button>
          </div>
            <div class="category">
                <p>SKU:<a href=""> PR111</a></p> 
                <p>CATEGORY:<a href="">Fresh Coffee</a></p>
                <p>TAGS:<a href="'"> Black</a>,<a class="btn1">Casual</a>,<a class="btn2" href="">Classic</a></p>
               <div class="icons-society">
                <p> SHARE:<a href=""> <i class="fa-brands fa-facebook"></i> <a href=""><i class="fa-brands fa-tiktok"></i></a> <a href=""><i class="fa-brands fa-square-instagram"></i></a> <a href=""><i class="fa-brands fa-twitter"></i></a></a></p>
               </div>
            </div>
            <div class="descriprtion">
                <button class="btn1">DESCRIPTION</button>
                <button class="btn2">additinal infomation</button>
                <button class="btn3">reviews(1)</button>
                <div class="descriprtion-p">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            </div>
        </div>          
        </div>
     </div>
    </div>
    <div class="container3">
       <div class="title-product">
        <span>RELATED PRODUCTS</span>
       </div>
        <div class="related-products">
            <div class="box">
                <img src="../image/product-img-11.png" alt="">
                <span>BRAZIL COFFEE</span>
                <a href="">$35.00</a>
            </div>
            <div class="box">
                <img src="../image/product-img-11.png" alt="">
                <span>BRAZIL COFFEE</span>
                <a href="">$35.00</a>
            </div>
            <div class="box">
                <img src="../image/product-img-11.png" alt="">
                <span>BRAZIL COFFEE</span>
                <a href="">$35.00</a>
            </div>
            <div class="box">
                <img src="../image/product-img-11.png" alt="">
                <span>BRAZIL COFFEE</span>
                <a href="">$35.00</a>
            </div>
            
        </div>

        
    </div>
    <div class="container6">
        <div class="wrapper-located">
            <div class="banner-footter">
                <img src="../image/footer-banner-img-1.jpg" alt="">
            </div>
        <div class="located">
            <img src="../image/logo.png" alt="">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,               
                nostrud exercitation ullamco laboris.”</p>
            <h1>STORES</h1>
            <span>Địa chỉ: 143/43 Hà Thị Khiêm, Trung Mỹ Tây, Tp Hồ Chí Minh</span>
            <h3>NEWS AS FRESH AS OUR COFFEE</h3>
            <div class="gmail">
                <input type="text" placeholder="Địa Chỉ Email"><i class="fa-regular fa-envelope"></i>
            </div>   
            </div>
        </div>
    </div>
   
    <div class="container7">
        <div class="wp-footter">
        <div class="footter-menu">
        <span>© 2018 Qode Interactive, All Rights Reserved</span>
        <div class="menu-ft">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Liên Hệ</a></li>
        </ul>
      </div>
      <div class="app">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-tiktok"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-cc-amazon-pay"></i>
       </div>
     </div>
    </div>

        
        

   
</div>

