<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../css/index.css">
    <title>The Coffe House</title>
    
</head>
<body>
    <div class="container">
     <div class="banner">
        <img src="../../image/banner1.jpg" id="img" onclick="changeImage()" alt="">
        <a class="bar-back" href="#">
            <span>__</span>
        </a>
     </div>
         <div class="logo-menu">       
                <img src="../../image/logo.png" alt="">       
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="#">MENU</a></li>
                <li><a href="#">SHOP</a></li>
                <li><a href="contact.html">Liên Hệ</a></li>
                <li><a href="#">Góp Ý</a></li>     
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>  
                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>               
            </ul>
        </div>
      
    </div>
    <!-- body -->
    <div class="container2">
    <div class="enlow">
        <h2>OUR DELICIOUS OFFER</h2>
        <img src="../image/enlow.png" alt="">
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore</h6>
     </div>   
        <div class="el-wrapper">
            <div class="el-custom">
                <img src="../image/h2-custom-icon-5.png" alt="">
                <span>TYPES OF COFFEE</span>
                <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo</p>
            </div>
            <div class="el-custom">
                <img src="../image/h2-custom-icon-6.png" alt="">
                <span>TYPES OF COFFEE</span>
                <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo</p>
            </div>
            <div class="el-custom">
                <img src="../image/h2-custom-icon-7.png" alt="">
                <span>TYPES OF COFFEE</span>
                <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo</p>
            </div>
            <div class="el-custom">
                <img src="../image/h2-custom-icon-8.png" alt="">
                <span>TYPES OF COFFEE</span>
                <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo</p>
            </div>
        </div>  
<!-- backgroud -->
        <div class="bg-enlow-coffee">
          <img src="../image/backgroud-enlow.jpg" alt="">
         <div class="enlow-coffee">
            <h2>THE COFFEE HERALD</h2>
            <img src="../image/enlow.png" alt="">
            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore</h6>
         </div>   
        </div>

        <div class="ct-wrapper">
         <div class="enlow-content">
            <img src="../image/blog-1-img-2.jpg" alt="">
            <span>PREP TECHNIQUES</span>
            <p>Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi, nam eget dui. Etiam rhoncus maecenas tempus,</p>
         </div>
         <div class="enlow-content">
            <img src="../image/blog-1-img-1.jpg" alt="">
            <span>FRENCH PRESS</span>
            <p>Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi, nam eget dui. Etiam rhoncus maecenas tempus,</p>
         </div>
         <div class="enlow-content">
            <img src="../image/blog-1-img-3.jpg" alt="">
            <span>TURKISH IBRIK</span>
            <p>Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi, nam eget dui. Etiam rhoncus maecenas tempus,</p>
         </div>
        </div>
    </div>
    <div class="container3">
        <div class="banner4">
        <img src="../image/banner4.jpg" alt="">
    </div>
    <div class="el-wrapper">
        <div class="el-custom">
            <h1>250</h1>
            <span>VARIETIES OF COFFEE</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean</p>
        </div>
        <div class="el-custom">
            <h1>123</h1>
            <span>HOURS OF TESTING</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean</p>
        </div>
        <div class="el-custom">
            <h1>321</h1>
            <span>COFFEE MARKETSE</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean</p>
        </div>
        <div class="el-custom">
            <h1>220</h1>
            <span>COFFEE BRANDS</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean</p>
        </div>
    </div>  
    <div class="bg-enlow-coffee">
        <img src="../image/backgroud-enlow.jpg" alt="">
       <div class="enlow-coffee">
          <h2>ONLINE COFFEE SHOP</h2>
          <img src="../image/enlow.png" alt="">
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
              eiusmod tempor incididunt ut labore et dolore</h6>
       </div>    
      </div>
      <div class="bg-product-home">
      <div class="product-home">
            <img src="../image/product-img-1.png" alt="">
            <p>ETHIOPIA COFFEE</p>
            <a>$15.00</a>
        </div>
        <div class="product-home">
            <img src="../image/product-img-2.png" alt="">
            <p>KENYANA COFFEE</p>
            <a>$15.00</a>
        </div>
        <div class="product-home">
            <img src="../image/product-img-3.png" alt="">
            <p>COLUMBIA COFFEE</p>
            <a>$15.00</a>
        </div>
        <div class="product-home">
            <img src="../image/product-img-4.png" alt="">
            <p>GUATEMALA COFFEE</p>
            <a>$15.00</a>
       </div>
    
    </div>
    </div>
    <div class="container4">
        <div class="enlow">
            <h2>OUR SWEET GALLERY</h2>
            <img src="../image/enlow.png" alt="">
            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore</h6>
         </div>   
         <div class="list-profile">
            <div>
                <img src="../image/anh1.jpg" alt="">
            </div>
            <div>
                <img src="../image/anh2.jpg" alt="">
            </div>
            <div>
                <img src="../image/anh3.jpg" alt="">
            </div>
            <div>
                <img src="../image/anh4.jpg" alt="">
            </div>
            <div>
                <img src="../image/anh5.jpg" alt="">
            </div>
            <div>
                <img src="../image/anh6.jpg" alt="">
            </div>
            <div>
                <img src="../image/anh7.jpg" alt="">
            </div>
            <div>
                <img src="../image/anh8.jpg" alt="">
            </div>
         </div>
         <div class="logo-icons">
         <div class="icons-hover">
            <img src="../image/clients-img-1.png" alt="">
         </div>
         <div class="icons-hover">
            <img src="../image/clients-img-2-hover.png" alt="">
         </div>
         <div class="icons-hover">
            <img src="../image/clients-img-3-hover.png" alt="">
         </div>
         <div class="icons-hover">
            <img src="../image/clients-img-4-hover.png" alt="">
         </div>
         <div class="icons-hover">
            <img src="../image/clients-img-5-hover.png" alt="">
         </div>
         <div class="icons-hover">
            <img src="../image/clients-img-6-hover.png" alt="">
         </div>
        </div>
    </div>
    <div class="container5">
        <div class="bg-contact">
            <img src="../image/backgroud-enlow.jpg" alt="">
        </div>
            <div class="contact-button">
                <p>LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT, SED DO    </p>
                <button> CONTACT US</button>
            </div>   
        </div> 
<!-- footer -->
        <div class="container6">
        <div class="wrapper-located">
            <div class="banner-footter">
                <img src="../image/footer-banner-img-1.jpg" alt="">
            </div>
        <div class="located">
            <img src="../image/logo.png" alt="">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,               
                nostrud exercitation ullamco laboris.”</p>
            <h1>STORES</h1>
            <span>Địa chỉ: 143/43 Hà Thị Khiêm, Trung Mỹ Tây, Tp Hồ Chí Minh</span>
            <h3>NEWS AS FRESH AS OUR COFFEE</h3>
            <div class="gmail">
                <input type="text" placeholder="Địa Chỉ Email"><i class="fa-regular fa-envelope"></i>
            </div>   
            </div>
        </div>
    </div>
   
    <div class="container7">
        <div class="wp-footter">
        <div class="footter-menu">
        <span>© 2018 Qode Interactive, All Rights Reserved</span>
        <div class="menu-ft">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Liên Hệ</a></li>
        </ul>
      </div>
      <div class="app">
        <i class="fa-brands fa-facebook"></i>|
        <i class="fa-brands fa-tiktok"></i>|
        <i class="fa-brands fa-square-instagram"></i>|
        <i class="fa-brands fa-twitter"></i>|
        <i class="fa-brands fa-cc-amazon-pay"></i>|
       </div>
     </div>
    </div>

        
        

   
  </div>
    </div>
   
<script src="../js/banner.js"></script>
</html>