<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../css/list-product.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="wp-product">
            <div class="product">
            <div class="box">               
                <img src="../image/product-img-1.png" alt="">                    
                <span>ETHIOPIA COFFEE</span>
                <a href="">$15.00</a>
                <button>Add to cart</button>          
            </div>
            <div class="box">    
                <img src="../image/product-img-1.png" alt="">
                <span>ETHIOPIA COFFEE</span>
                <a href="">$15.00</a>
                <button>Add to cart</button>
            </div>
            <div class="box">    
                <img src="../image/product-img-1.png" alt="">
                <span>ETHIOPIA COFFEE</span>
                <a href="">$15.00</a>
                <button>Add to cart</button>
            </div>
            <div class="box">    
                <img src="../image/product-img-1.png" alt="">         
                <span>ETHIOPIA COFFEE</span>
                <a href="">$15.00</a>
                <button>Add to cart</button>
            </div>
            <div class="box">    
                <img src="../image/product-img-1.png" alt="">         
                <span>ETHIOPIA COFFEE</span>
                <a href="">$15.00</a>
                <button>Add to cart</button>
            </div>
            <div class="box">    
                <img src="../image/product-img-1.png" alt="">         
                <span>ETHIOPIA COFFEE</span>
                <a href="">$15.00</a>
                <button>Add to cart</button>
            </div>
        </div>
    </div>

        <div class="wp-category">
            <div class="seach">
                <input type="text">
                <div class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            
            <div class="category">
                <span>product category</span>
                <a href="">danh</a>
                <a href="">danh</a>
                <a href="">danh</a>               
            </div>

            <div class="Related">
                <span>Related-product</span>
                <div class="wp-Related">
                    <div class="Related-img">
                        <img src="../image/anh2.jpg" alt="">
                    </div>
                    <div class="Related-product">
                     <a href="">danh</a>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <a href="">2300$</a>
                </div>
                </div>
                <div class="wp-Related">
                    <div class="Related-img">
                        <img src="../image/anh2.jpg" alt="">
                    </div>
                    <div class="Related-product">
                     <a href="">danh</a>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <a href="">2300$</a>
                </div>
                </div>
                <div class="wp-Related">
                    <div class="Related-img">
                        <img src="../image/anh2.jpg" alt="">
                    </div>
                    <div class="Related-product">
                     <a href="">danh</a>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <a href="">2300$</a>
                </div>
              </div>

            </div>
        </div>
    </div>
    
</body>
</html>